body.gruvbox {
    --accent: #7c6f64;
    --accent-overlay: #ae9d83;
    --navbar-accent: #ae9d83;
    --background: #282828;
    --body-background: #282828;
    --background-darker: var(--body-background);
    --current-background: var(--body-background);
    --navbar-background: #3c3836;
    --navbar-active-background: #282828;
    --gradient-body-background: linear-gradient(
        90deg, var(--background-darker) -32px,
        var(--body-background) 64px,
        var(--body-background) 100%
    );
    --input-background: #3c3836;
    --modal-background: var(--body-background);
    --modal-border: var(--body-background);
    --success: #7c6f64;
    --success-hover: #ae9d83;
    --primary: #7c6f64;
    --primary-hover: #ae9d83;
    --danger: #7c6f64;
    --danger-hover: #ae9d83;
    --anticheat-denied: #cc241d;
    --anticheat-broken: #fe8019;
    --anticheat-running: #458588;
    --anticheat-supported: #98971a;
    --anticheat-planned: #b16286;
    --text-title: #7c6f64;
    --icons-background: #3c3836;
    --action-icon: #7c6f64;
    --action-icon-hover: #ae9d83;
    --action-icon-active: #ae9d83;
    --icon-disabled: #7c6f64;
}
